<div class="card">
    <div class="ng-autocomplete container">
        <h1>Consulta de códigos CIE10 ("Clasificación Internacional de Enfermedades")</h1>
        <br>
        <ng-autocomplete
          [data]="data$ |async"
          [searchKeyword]="keyword"
          [itemTemplate]="itemTemplate"
          [(ngModel)]="filterPost"
          [(ngModel)]="usuario.dato"
          (ngModelChange)="datoentrada($event)"
          name="filterPost"
          placeholder="Ingrese el codigo o descripcion"
          [notFoundTemplate]="notFoundTemplate">                                 
        </ng-autocomplete>
        
        <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
        </ng-template>
        
        <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
        </ng-template>
    </div>
    <br>
    <div class="container">
      <table class="table table-bordered ">
          <tr *ngFor="let array of datos | pipes:filterPost">
            <ng-container matColumnDef="cod">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> CODIGO </th>
              <td mat-cell *matCellDef="let element"> {{array['cod']}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPCION </th>
              <td mat-cell *matCellDef="let element"> {{array['name']}} </td>
            </ng-container>
            <ng-container matColumnDef="sexo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> SEXO </th>
              <td mat-cell *matCellDef="let element"> {{array['sexo']}} </td>
            </ng-container>
            <ng-container matColumnDef="limsuperior">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> LIMITE SUPERIOR </th>
              <td mat-cell *matCellDef="let element"> {{array['limsuperior']}} </td>
            </ng-container>
            <ng-container matColumnDef="liminferior">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> LIMITE INFERIOR </th>
              <td mat-cell *matCellDef="let element"> {{array['liminferior']}} </td>
            </ng-container>
      </table>
    </div>
  </div>